* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.red-highlight {
  background-color: rgb(250, 90, 90);
}

.import-button {
  flex: 0 0 0px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.table {
  margin: auto;
  position: relative;
  flex: 0 0 0px;
  font-size: 0.95rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-width: 80%;

  td,
  th {
    border: 1px solid #ddd;
    padding: 7px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #4caf50;
    color: white;
  }
}
